$primary_light: #64b5f6;
$primary_main: #2196f3;
$primary_dark: #115293;

$info_light: #64b5f6;
$info_main: #2196f3;
$info_dark: #1976d2;

$orange: #f49200;

$gray: #777777;
$lightgray: #cccccc;
$lightgreen: rgb(49, 130, 206);
$applered: #030303;

$black: #222222;