

*{box-sizing: border-box;}

html,body, #root{
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
}

#ScannerView{
  padding: 10px;
}

.table-actions{
  margin-top: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-actions label{
  margin: 0 10px;
}