
@import './_table.scss';

*{box-sizing: border-box;}

html,body, #root{
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
}

#ScannerView{
  padding: 10px;
}

.table-actions{
  margin-top: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-actions label{
  margin: 0 10px;
}
.loading-spinner{
  margin-left: 10px;
}

// .subtable{min-width: 400px;}

table th{
  background-color: #3182ce;
  color: #fff;
}

table table th{
  background-color: #73a7d8;
}

